body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}

table {
  float: right;
  border: none;
  text-align: center;
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: red;
    }
  }
}

.add-new-product, .update-product { 
  height: 360px;
  width: 380px;
  padding-right: 20px;
  background-color: white;
  border: 1px solid lightgray;
  position: absolute;
  top: 40px;
  left: 540px;
  text-align: right;
  div {
    margin-top: 10px;
  }
  .add-new-header, .update-header {
    text-align: center;
    margin: 0px;
    font-size: 28px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #4CAF50;
    color: white;
    height: 50px;
    width: 380px;
  }
  .buttons {
    input {
      border: solid #4CAF50;
      background-color: white;
      color: #4CAF50;
      font-size: 16px;
      padding: 10px 50px 10px 50px;
    }
    input:hover {
      background-color: #4CAF50;
      color: white;
      border: solid white;
    }
    .close {
      float: left;
      margin-left: 20px;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  input {
    border: solid #4CAF50;
    background-color: white;
    color: #4CAF50;
    font-size: 16px;
    padding: 10px 50px 10px 50px;
  }
  input:hover {
    background-color: #4CAF50;
    color: white;
    border: solid white;
  }
}
